a{
  text-decoration: none;
}

body{
  background-color: #ffc7d0;
  font-family: sans-serif;
  color: #94004f;
}
nav{
  background-color: #f792b5;
}

aside{
  background-color: #f792b5;
}

a{
  text-decoration: none;
}
